@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    My Fit Timer is an application that displays an interface to the user with a start timer and end timer button.
                    When the start timer button is clicked, the application keeps track of the start time.
                    When the end timer is clicked, the screen displays a textbox with the elapsed time.
                    Under the timer display, it displays a list of previous timer runs.
                </p>
            </div>
        </div>
    </div>
</div>